* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #0b2253;
}

/*
Sounds of Nature
*/

.nature__sounds__container {
    margin-bottom: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    gap: 1rem;
}

.sounds__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    font-size: large;
    color: white;
}

.sounds__heading p {
    font-size: small;
    font-style: none;
    padding-top: 2px;
}

.video {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-radius: 1rem;
}

.video__name {
    font-size: large;
    color: white;
    background-color: black;
    padding: 10px;
}

/*
Songs
*/

.songs__container {
    margin-bottom: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.songs__heading{
    margin-top: 5rem;
    margin-bottom: 2rem;
    padding: 40px;
    font-size: large;
    color: white;
}

.songs__list {
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.song_img {
    padding: 1rem;
    background-color: black;
    border-radius: 1rem;
}

.song__audio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-radius: 1rem;
    padding-bottom: 1rem;
}

.song__name {
    font-size: large;
    color: white;
    padding: 10px;
    background-color: black;
}

.audio {
    background-color: black;
}

/*
    Tweeting positive thoughts
*/

.tweet__container {
    margin-top: 4rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.tweet__heading {
    margin-top: 5rem;
    padding-bottom: 5rem;
    font-size: large;
    color: white;
}

.message {
    padding: 1rem;
    background-color: white;
    border-radius: 0.5rem;
}

#counter {
    color: white;
}

#tweetMe {
    width: 40px;
    height: 20px;
    border: none;
    cursor: pointer;
}

.fa-brands {
    color: rgb(29, 155, 240);
    size: 100px;
}

/*
footer
*/

.footer__container {
    height: 20rem;
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer__logo{
    font-size: 25px;
    padding-bottom: 1rem;
    color: antiquewhite; 
    background-color: black;
}

.footer__text {
    padding-top: 1rem;
    font-size: 14px;
    color: antiquewhite; 
    background-color: black;
}

.copyright__text {
    font-size: 10px;
    padding-top: 2rem;
    color: antiquewhite; 
    background-color: black;
}

.fa-solid{
    color: red;
    background-color: black;
}