* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }

  .logo{
    font-size: 20px;
    padding-left: 20px;
    padding-top: 20px;
    color: antiquewhite; 
  }

.tagline {
    margin-top: 15rem;
    height: 100vh;
    color: antiquewhite;
    text-align: center;
}

.tagline__heading {
    font-size: 100px;
}

.tagline__heading__small {
    margin-top: 5rem;
    font-size: 20px;
}

.container_ways {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ways__heading {
    margin-bottom: 5rem;
    color: antiquewhite;
    font-size: 30px;
    padding: 1rem;
}

.ways__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 4rem;
}

.card-image {
    width: 100%;
    height: 200px;
    border-radius: 2rem;
    padding: 1rem;
}

.list_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: black;
    margin: 0.5rem;
    border-radius: 2rem;
}

.anchor {
    text-decoration: none;
}

.list_item h2 {
    color: antiquewhite;
}

.list_item p {
    justify-items: center;
    padding: 2rem;
    color: antiquewhite;
}

.footer__container {
    height: 20rem;
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer__logo{
    font-size: 25px;
    padding-bottom: 1rem;
    color: antiquewhite; 
}

.footer__text {
    padding-top: 1rem;
    font-size: 14px;
    color: antiquewhite; 
}

.copyright__text {
    font-size: 10px;
    padding-top: 2rem;
    color: antiquewhite; 
}

.fa-solid{
    color: red;
}
